<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-6">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.button :submit, value: "Create dose", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
